<!--
 * @Descripttion: 
 * @Author: sunft
 * @Date: 2020-04-29 13:56:15
 * @LastEditTime: 2020-05-07 09:41:31
 -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <title>ant-back</title>
  <link rel="icon" href="/favicon.png" type="image/x-icon" />
  <!-- <link href="https://cdn.bootcss.com/antd/3.22.1/antd.min.css" rel="stylesheet">
  <script src="https://cdn.bootcss.com/react/16.8.6/umd/react.production.min.js"></script>
  <script src="https://cdn.bootcss.com/react-dom/16.8.6/umd/react-dom.production.min.js"></script>
  <script src="https://cdn.bootcss.com/moment.js/2.24.0/moment.min.js"></script>
  <script src="https://cdn.bootcss.com/antd/3.22.1/antd.min.js"></script>
  <script src="https://cdn.bootcss.com/echarts/4.2.1/echarts.min.js"></script> -->
</head>

<body>
  <noscript>Sorry, we need js to run correctly!</noscript>
  <div id="root"></div>

</body>

</html>